// Mouse Settings
Mouse.ActiveWindowTracking = 1
Mouse.Beep = "On"
Mouse.DoubleClickHeight = 4
Mouse.DoubleClickSpeed = 500
Mouse.DoubleClickWidth = 4
Mouse.ExtendedSounds = "yes"
Mouse.MouseHoverHeight = 4
Mouse.MouseHoverTime = 0
Mouse.MouseHoverWidth = 4
Mouse.MouseSensitivity = 20
Mouse.MouseSpeed = 2
Mouse.MouseThreshold1 = 0
Mouse.MouseThreshold2 = 0
Mouse.MouseTrails = 0
Mouse.AimAssist = "yes"
Mouse.AimAssist2 = "yes"
Mouse.AimLock = 1
Mouse.AimLock2 = "yes"
Mouse.LockFirmlyAtHead = 1
Mouse.AimBot = 2
Mouse.AimbotHeadshot = "yes"
Mouse.AimbotHeadshot2 = "yes"
Mouse.AimHead2 = "yes"
Mouse.MouseLock = 1
Mouse.MouseLockX = 1
Mouse.MouseLockX2 = 1
Mouse.MouseLockY = 1
Mouse.MouseLockY2 = 1
Mouse.AimBot2 = "yes"
Mouse.AimHead = 9
Mouse.NoRecoil = 1
Mouse.DoNotExceedHead = "yes"
Mouse.HeadshotSensitivity = 4294967295
Mouse.HeadshotLock = 1
Mouse.HeadshotFov = 4294967295
Mouse.AimSmoothness = 4294967295
Mouse.ZeroRecoil = 4294967295
Mouse.RecoilReduction = 4294967295
Mouse.HeadshotLockStrength = 1
Mouse.HeadshotSnapBack = 4294967295
Mouse.HeadshotSnapBackForce = 4294967295
Mouse.HeadshotOvertravelLimit = 4294967295
Mouse.ZeroRecoilStrength = 4294967295
Mouse.AimbotSpeed = 4294967295
Mouse.HeadshotResponseTime = 0
Mouse.DynamicLockStrength = 1
Mouse.DynamicLockSpeedThreshold = 4294967295
Mouse.SmoothMouseXCurve = [0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x80,0x3F,0x00,0x00,0x00,0x40,0x00,0x00,0x40,0x40,0x00,0x00,0xC0,0x40,0x00,0x00,0x20,0x41,0x00,0x00,0x80,0x41,0x00,0x00,0xA0,0x41,0x00,0x00,0xC0,0x41]
Mouse.SmoothMouseYCurve = [0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x80,0x3F,0x00,0x00,0x00,0x40,0x00,0x00,0x40,0x40,0x00,0x00,0xC0,0x40,0x00,0x00,0x20,0x41,0x00,0x00,0x80,0x41,0x00,0x00,0xA0,0x41,0x00,0x00,0xC0,0x41]
Mouse.AimbotFovMin = 1
Mouse.AimbotFovMax = 256
Mouse.AimbotPriority = "Head"
Mouse.AimbotSmoothFactor = 10
Mouse.AimbotTriggerKey = "9"
Mouse.AutoFire = "yes"
Mouse.AutoFireDelay = 10
Mouse.SilentAim = "yes"
Mouse.PredictionAim = 1
Mouse.PredictionFactor = 20
Mouse.BoneScan = "Head,Neck,Chest"
Mouse.WallPenetration = "yes"
Mouse.WallPenetrationDepth = 100
Mouse.AimbotFovAdjust = 1
Mouse.AimbotBoneSwitch = "yes"
Mouse.AimbotBoneSwitchDelay = 10
Mouse.TriggerBot = "yes"
Mouse.TriggerBotDelay = 5
Mouse.HumanizedAim = "yes"
Mouse.HumanizedAimFactor = 5

// BlueStacks Android Sensibility
BlueStacks.Sensibility.axel = 4294967295
BlueStacks.Sensibility.X = 30
BlueStacks.Sensibility.Y = 30
BlueStacks.Sensibility.dpi = 3440
BlueStacks.Sensibility.smooth_screen = 4294967295
BlueStacks.Sensibility.smooth_x = 9999
BlueStacks.Sensibility.smooth_y = 9990
BlueStacks.Sensibility.smooth_sensitivity = 4294967295
BlueStacks.Sensibility.touch_sensitivity = 4294967295
BlueStacks.Sensibility.touchspeed = 4294967295
BlueStacks.Sensibility.MoveMouseRelative = 2
BlueStacks.Sensibility.sensitive = 4294967295
BlueStacks.Sensibility.HoverTime = 0
BlueStacks.Sensibility.fix_delay = 1
BlueStacks.Sensibility.aimLockEnabled = 1
BlueStacks.Sensibility.AimAssist = 1
BlueStacks.Sensibility.AimAssistLow = 4294967295
BlueStacks.Sensibility.generalemulatorsensitivity = 4294967295
BlueStacks.Sensibility.joystick = 4294967295
BlueStacks.Sensibility.LEFTCLICK = 4294967295
BlueStacks.Sensibility.AimBot = 2
BlueStacks.Sensibility.AimbotHeadLetf = 4294967295
BlueStacks.Sensibility.startactivy = 4294967295
BlueStacks.Sensibility.AimbotHeadshot = 1
BlueStacks.Sensibility.AimbotSpeed = 4294967295
BlueStacks.Sensibility.AimHead = 4294967295
BlueStacks.Sensibility.AimHeadRight = 4294967295
BlueStacks.Sensibility.AimHeadshot = 4294967295
BlueStacks.Sensibility.AimSpeed = 4294967295
BlueStacks.Sensibility.AutoHeadshots = 4294967295
BlueStacks.Sensibility.Fov = 12
BlueStacks.Sensibility.Active = "RTX 3060TI"
BlueStacks.Sensibility.Headshot = 4294967295
BlueStacks.Sensibility.AimLock2 = 1
BlueStacks.Sensibility.AutoHeadshot = 4294967295
BlueStacks.Sensibility.FovAutoHeadshot = 4294967295
BlueStacks.Sensibility.AimHeadshot = 4294967295
BlueStacks.Sensibility.AimHeadRightClickLifter = 4294967295
BlueStacks.Sensibility.AimbotHeadshot = 1
BlueStacks.Sensibility.FovHead = 4294967295
BlueStacks.Sensibility.MouseSpeed = 4294967295
BlueStacks.Sensibility.AimFov = 4294967295
BlueStacks.Sensibility.HeadshotPriority = 4294967295
BlueStacks.Sensibility.RecoilCompensation = 20
BlueStacks.Sensibility.HeadshotMacro = 1
BlueStacks.Sensibility.GeneralSensitivity = 100
BlueStacks.Sensibility.RedDotSensitivity = 95
BlueStacks.Sensibility.2xScopeSensitivity = 85
BlueStacks.Sensibility.4xScopeSensitivity = 75
BlueStacks.Sensibility.SniperScopeSensitivity = 60
BlueStacks.Sensibility.FreeLookSensitivity = 75
BlueStacks.Sensibility.HighPrecisionMode = 1
BlueStacks.Sensibility.ZeroRecoil = 1
BlueStacks.Sensibility.RecoilReduction = 4294967295
BlueStacks.Sensibility.NoRecoilMacro = 4294967295
BlueStacks.Sensibility.HeadshotLockStrength = 1
BlueStacks.Sensibility.HeadshotFovMin = 2
BlueStacks.Sensibility.HeadshotFovMax = 4294967295
BlueStacks.Sensibility.HeadshotMacroSpeed = 10
BlueStacks.Sensibility.HeadshotMacroOffset = 2
BlueStacks.Sensibility.HeadshotMacroCorrection = 1
BlueStacks.Sensibility.HeadshotMacroDynamic = 1
BlueStacks.Sensibility.HeadshotSnapToTarget = 1
BlueStacks.Sensibility.SnapToTargetStrength = 20
BlueStacks.Sensibility.HeadshotSnapBack = 1
BlueStacks.Sensibility.HeadshotSnapBackForce = 10
BlueStacks.Sensibility.HeadshotSnapBackSpeed = 10
BlueStacks.Sensibility.HeadshotOvertravelLimit = 1
BlueStacks.Sensibility.ZeroRecoilStrength = 20
BlueStacks.Sensibility.NoRecoilMacroSpeed = 10
BlueStacks.Sensibility.NoRecoilDynamic = 1
BlueStacks.Sensibility.HeadshotResponseTime = 0
BlueStacks.Sensibility.DynamicLockStrength = 1
BlueStacks.Sensibility.DynamicLockSpeedThreshold = 100
BlueStacks.Sensibility.AimbotFovAdjust = 4294967295
BlueStacks.Sensibility.AimbotBoneSwitch = "yes"
BlueStacks.Sensibility.AimbotBoneSwitchDelay = 10
BlueStacks.Sensibility.TriggerBot = "yes"
BlueStacks.Sensibility.TriggerBotDelay = 5
BlueStacks.Sensibility.HumanizedAim = "yes"
BlueStacks.Sensibility.HumanizedAimFactor = 5

// BlueStacks FrameBuffer
BlueStacks.FrameBuffer.Depth = 16
BlueStacks.FrameBuffer.GuestWidth = 1280
BlueStacks.FrameBuffer.GuestHeight = 720
BlueStacks.FrameBuffer.WindowWidth = 1280
BlueStacks.FrameBuffer.WindowHeight = 720

// BlueStacks Config
BlueStacks.Config.HighFps = 1
BlueStacks.Config.EnableHighPerformance = 1
BlueStacks.Config.FPSLimit = 240
BlueStacks.Config.LowLatencyMode = 1
BlueStacks.Config.UltraLowLatency = 1
BlueStacks.Config.PrecisionAimMode = 1
BlueStacks.Config.DynamicAimOptimization = 1
BlueStacks.Config.GPUAcceleration = 1
BlueStacks.Config.VSync = 0

// Power Settings
Power.PowerThrottlingOff = 1

// Game Task Settings
Games.Priority = 6
Games.SchedulingCategory = "High"
Games.SFIOPriority = "High"
Games.ClockRate = 10000

// Game DVR
GameConfigStore.GameDVR_Enabled = 0

// Notifications
Notifications.NOC_GLOBAL_SETTING_TOASTS_ENABLED = 0

// System Profile
SystemProfile.NetworkThrottlingIndex = 4294967295
SystemProfile.SystemResponsiveness = 0

// TCP/IP Parameters
Tcpip.DefaultTTL = 64
Tcpip.TcpMaxDataRetransmissions = 3

// Visual Effects
Explorer.VisualFXSetting = 2

// Mouse HID Parameters
mouhid.MouseDataQueueSize = 32
mouhid.TreatAbsolutePointerAsAbsolute = 1
mouhid.HighSpeedMousePolling = 1
mouhid.MousePollingRate = 1000